/* Global Styles
--------------------------------------------------------*/
img {
  width: 300px;
}

body {
  color: dimgray;
}

/* Profile
--------------------------------------------------------*/
header {
  background: #f487b6;
  color: #fff3f0;
}

/* Projects
--------------------------------------------------------*/
.projects {
  background: #ae1621;
  color: #bfdbf7;

}

/* Work Experience
--------------------------------------------------------*/
.work-experience {
  background: #e94f37;
  color: #393e41;
}

/* Education
--------------------------------------------------------*/

/* Contact Info
--------------------------------------------------------*/