/* Color Palette
#e63946 - Imperial Red - header
#f1faee - Honeydew - projects
#a8dadc - Powder blue - work exp
#457b9d - Steel blue - education
#1d3557 - Prussian blue - footer
text color?
link colors?
-hover?
-visited?

/* Global Styles
--------------------------------------------------------*/
img {
  width: 300px;
}

/* Box Model fix */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* ------------- */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: black;
  margin: 0;
  padding: 0;
}

a:link {
  color:  #41d3bd;
}

a:visited {
  color: #f3ffe1;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 100px;
  line-height: 1.5;
}

h2 {
  font-size: 45px;
}

h1, h2 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
  margin: 0;
}

h3 {
  margin-bottom: 0;
}

.item-details h3 + p {
  font-style: italic;
}

.item-details h3 ~ p {
  margin: 0;
}

.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.divider > section {
  border-bottom: 1px dashed black;
  padding: 25px 0;
}

.divider > section:last-of-type {
  border-style: none;
}


/* Profile
--------------------------------------------------------*/
header {
  background: #e63946;
  color: #f1faee;
  text-align: center;
}

/* Projects
--------------------------------------------------------*/
.projects {
  background: #f1faee;
  /*color: #bfdbf7;*/
}

/* Self-Clear */
.project-item {
  overflow: hidden;
}

/* Parent must be self-cleared */
.project-item img {
  float: left;
  margin-right: 20px;
}

.project-item h3 {
  margin-top: 0;
}

.projects .btn {
  color: black;
  background: #e63946;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}

.projects .btn:hover {
  background: rgba(230,57,70, 80%);
}


/* Work Experience
--------------------------------------------------------*/
.work-experience {
  background: #a8dadc;
  /*color: #393e41;*/
}

.job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

/* Education
--------------------------------------------------------*/
.education {
  background: #457b9d;
}

/* Contact Info
--------------------------------------------------------*/
footer {
  background: #1d3557;
  color: #fff3f0;
  text-align: center;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.contact-list a {
  padding: 15px; /* adds extra click space */
  display: inline-block;
}