/* Global Styles
--------------------------------------------------------*/
img {
  width: 300px;
}

body {
  color: black;
}

a:link {
  color:  #41d3bd;
}

a:visited {
  color: #f3ffe1;
}

a:hover {
  text-decoration: none;
}

/* Profile
--------------------------------------------------------*/
header {
  background: #f487b6;
}

/* Projects
--------------------------------------------------------*/
.projects {
  background: #ae1621;
  /*color: #bfdbf7;*/
  color: #fff3f0;
}

.projects a {

}

.projects .btn {
  background: #f487b6;
  color: black;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}

.projects a:hover {
  background: rgba(244, 135, 182, 100);
}


/* Work Experience
--------------------------------------------------------*/
.work-experience {
  background: #e94f37;
  /*color: #393e41;*/
}

/* Education
--------------------------------------------------------*/

/* Contact Info
--------------------------------------------------------*/
footer {
  background: #3a0ca3;
  color: #fff3f0;
}